ci:
  skip: [pylint]

repos:
    - repo: https://github.com/adrienverge/yamllint.git
      rev: v1.37.1
      hooks:
        - id: yamllint
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
        - id: end-of-file-fixer
        - id: check-docstring-first
        - id: check-json
        - id: check-yaml
          args: [--allow-multiple-documents]
        - id: debug-statements
        - id: name-tests-test
          args: ['--django']
          exclude: ^tests/drivers/fail_drivers
        - id: check-added-large-files
        - id: check-merge-conflict
    # -   repo: https://github.com/pylint-dev/pylint
    #     rev: v3.3.7  # Use the sha / tag you want to point at
    #     hooks:
    #     -   id: pylint
    #         language_version: '3.12'  # Reqd of 2025-01-15
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.14.8
      hooks:
      - id: ruff
        args: [--fix, --show-fixes, --output-format, grouped]
      - id: ruff-format
    - repo: https://github.com/Lucas-C/pre-commit-hooks
      rev: v1.5.5
      hooks:
        - id: forbid-crlf
        - id: remove-crlf
        - id: forbid-tabs
        - id: remove-tabs
          args: [--whitespaces-count, '2'] 
        - id: insert-license
          files: ./(.*).py$
          args:
            - --license-filepath
            - license-template.txt
            - --use-current-year
            - --no-extra-eol
    - repo: local
      hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
            "--rcfile=pylintrc", # Link to your config file
          ]
